#title {
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	letter-spacing: 6px;
	padding: 15px;
}
nav {
	text-align: center;
}
header {
	padding: 40px;
	font-size: 35px;
	text-align: center;
}
body {
	color: white;
	background-color: #ff8080;
	
}
h2 {
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	Padding-bottom: 8px;
}
h3 {
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	letter-spacing: 4px;
}

p {
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	line-height: 1.6;
}
ul {
	line-height: 2
}
